.task {
  width: 100%;
  height: auto;
  background: #e1e1e1;
  border: 1px solid #333333;
  padding: 4px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.task p {
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  color: black;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -20px;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}
p.creationDate {
  font-size: 11px;
  color: #808080;
  margin-top: -30px;
  margin-bottom: -18px;
}

.taskContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 10px; 
  color: #808080;
  margin-top: 5px; 
  margin-bottom: 5px;
}

.checkContainer {
  width: 18px;
  height: 18px;
  margin-bottom: 9px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #f4512c;
}

.deleteButton {
  background: none;
  border: none;
  color: #5e1b89;
  margin-left: 10px;
  margin-right: 12px;
}

.editButton {
  background: none;
  border: none;
  color: #5e1b89;
  margin-right: 10px;
}
.editOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.editModal {
  position: absolute;
  height: 20%;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.editInput {
  width: 100%;
  font-size: 18px;
  height: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: 1px solid #333333;
  margin-top: 6px;
}

.editButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 20%;
}

.saveButton,
.cancelButton {
  padding: 10px 60px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 100%;
  margin-top: 15px;
  margin-left: 45px;
}

.saveButton {
  background-color: #268bd2;
  color: white;
 
}

.cancelButton {
  background-color: #ff7f4d;
  color: white;
}
